
body{
  display: flex;
  width: 750px;
  margin-top: 100px;
  background-color: black;
}

text-area, #editor{
  width: 700px;
  height: 100%;
  margin-left: 50px;
  margin-right: 250px;
}

#target, canvas{
  width: 750px;
  height: 750px;
}

/* #target, #preview, canvas{
  width: 500px;
  height: 500px;
} */
